.community__item__card {
  display: flex;
  gap: 7px;
  width: 250px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgb(236, 236, 236);
  padding: 12px 3px 12px 10px;
}
.community__item__card img {
  width: 30px;
  height: 30px;
}
.community__item__card h3 {
  color: rgb(87, 87, 87);
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 600;
}

.community__item__right__mini__card {
  display: flex;
  gap: 7px;
  width: 138px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: rgb(236, 236, 236);
  padding: 12px 2px 12px 10px;

 
}
.community__item__right__mini__card p {
  color: rgb(87, 87, 87);
  font-family: 'Montserrat';
  font-size: 11px;
  font-weight: 600;
}

.community__item {
  display: flex;
  gap: 5px;
}
.aside_cards {
  width: 394px;
}
